.todo-item {
  list-style: none;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 0 10px;
  display: flex;
  justify-content: space-between;
}
.todo-item span {
  display: flex;
  align-items: center;
}
.todo-item-done {
  background-color: rgb(216, 216, 216);
}
.todo-item-link {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}
.todo-item-link:hover {
  color: rgb(94, 0, 172);
  transform: translateX(20px);
  transition: 0.3s;
}
.todo-item-index {
  margin-right: 5px;
}
.delete-btn:hover {
  color: darkorchid;
}